<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-button color="primary" (click)="v1()">Ir a v1</ion-button>
  <ion-button color="primary" (click)="v2()">Ir a v2</ion-button>
  <ion-button color="primary" (click)="v3()">Ir a v3</ion-button>
  <ion-button color="primary" (click)="v4()">Ir a v4</ion-button>
  <ion-button color="primary" (click)="v5()">Ir a v5</ion-button>
  <ion-button color="primary" (click)="v6()">Ir a v6</ion-button>
</ion-content>